.App {
  text-align: center;
}

button {
  margin-left: 10px;
}

input {
  width: 50px;
  margin-left: 10px;
}

h1 {
  color: #333;
}
.eee{
  background-color: rgb(74, 172, 74);
  color: white;
  border-radius: 0px;
}
.eeee{
  background-color: red;
  color: white;
  border-radius: 0px;
}
.name{
  font-size: 50px;
  border: 1px solid black;
  width: 500px;
  background-color: rgba(127, 255, 212, 0.243);
  height: 80px;
  position: relative;
  left: 500px;
  color: rgb(67, 154, 202);
}
